body{
    background-image: url(./imag/fundo_mob.jpg);
}

#navbar{
    height: 60px;
    position: fixed;
    justify-content: space-between;
    
}
#nav-container{
    align-items:center;
}
#navbar-itens{
    flex-direction: column;
}
.social {
    order: 2;
    width: 50%;
    margin-left: 325px;
}

#showcase-container h2{
    font-size: 130%;
    
}
.social {
    box-sizing: border-box;
    display: flex;
    justify-content: flex-end;
    width: 20px;
}
div {
    display: block;
}

.control_ft{
    border-radius: 50%;
    position: absolute;
    margin-left: auto;
}
.posi{
   justify-content: space-between;

    
}
.btn{
    display: inline-block;
    padding: 10px 10px;
    font-size: 1.1rem;
    text-transform: uppercase;
    background:#111;
    color:aliceblue;
    border-radius: 5px;
    margin-top: 0.2cm;
    

}