@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background-color: var(--color_bg);
    font-family: var(--font_padrao);
    font-optical-sizing: auto;
}

/*NAV BAR testando essa pica*/

a{
    text-decoration: none;
    background-color: transparent;
    color: inherit;
}
.headline{
    font-size: 2.2rem;
    font-weight: bold;
    text-align: center;
    padding-bottom: 50px;
    letter-spacing: 2px;
}
nav{
    align-items: center;
    justify-content: space-around;
    height: 10vh;
    display: flex;
    border-bottom: 1px solid #8E8E8E;
    width: 100%;
    background-color: var(--color_bg);  
    color: rgb(255, 255, 255);
    position: fixed;
}

.navbar-itens{
    height: 100%;
    justify-content: right;
    font-size: 1.5rem;
    display:flex;
    list-style: none;
    padding-left: 75%;
}
.navbar-itens li{
    cursor: pointer;
    padding-left: 25%;
    margin-top: 20px;
    padding-right: 3%;
    letter-spacing: 3px;
     
}
.mobile-menu {
    cursor: pointer;
    display: none;
}
.mobile-menu div{
    transition: 0.3s;
    width: 32px;
    height: 2px;
    background: #eee;
    margin: 8px;

}

/* INICIO  LOGOS */

.social{
    border: 1px solid transparent;
    text-decoration: none;
}
.social__icon {
    fill: rgb(255, 255, 255);
    transition: opacity .2s;
    margin-left: 20px;
    color: #eee;
}
.social__icon-3 {
    fill: rgb(255, 255, 255);
    transition: opacity .1s;
    margin-left: 20px;
    color: #eee;
}
/* INICIO */
#inicio{
    height: 100vh;
    display: flex;
    color: #eee;
    background-color: var(--color_bg);  
    background-blend-mode: color;
}
.inicio-container{
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 18px;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
    padding-left: 0%;
    padding-top: 21%;
    width: 70%;

}
.inicio-container h2{
    padding-left: 10px;
    font-size: 4rem;
    font-weight: 200;
}
.inicio-container h3{
    font-size: 3rem;
    font-weight: 200;
}
.inicio-container h4{
    padding-left: 5%;
}
.img-container{
    text-align: left;
    width: 70%;
    justify-content: left;
    align-items: center;
    display:         flex;
    display: -webkit-flex;
}
img{
    padding-top: 15%;
    width: 70%;
}

/*SOBRE MIN*/

#sobre{
    
    width: 100%;
    background-color: var(--color_bg);  
    color: rgb(255, 255, 255);
    padding: 30px;
    padding-left: 200px;
    padding-right: 200px;
    font-size: 20px;
}
.sobre-container{
    text-align: left;
    font-size: 18px;

}
.sobre-container li {
    margin-left: 20px;
}
.sobre-container h2{
    font-size: 4rem;
    font-weight: 200;
}
.sobre-container h3{
    font-size: 3rem;
    padding-top: 30px;
    font-weight: 200;
}

.text_cor{
    color: var(--color_padrao);
    display: inline-block;
    font-weight: 300;
    margin: 0 3px;
  }
.text_simples{
    
    color: var(--highlight-color,#ffffff);
    display: inline-block;
    font-weight: 300;
    margin: 0 3px;

}



/*hover*/


nav h1:hover{
    color: var(--color_padrao);
    transform: scale(1.1);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0);
}
nav a:hover{
    color: var(--color_padrao);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0);
}
nav img:hover{
    color: var(--color_padrao);
    transform: scale(1.1);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0);
}
.social__icon:hover{
    fill: var(--color_padrao2);
    transform: scale(1.1);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0);

}
.social__icon-3:hover{
    fill: var(--color_padrao2);
    transform: scale(1.1);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0);

}

.footer, .footer__text {
    align-items: center;
    padding-left: 30px;
    display: flex;
}
.footer {
    background-color: var(--bar-background-color,#000000);
    box-sizing: border-box;
    height: var(--bar-height,30px);
    justify-content: center;
    margin-top: calc(var(--secondary-space)*2);
    padding: 5 var(--primary-space,8px);
    width: 100%;
}
footer {
    display: block;
}

.footer__text {
    color: #dcdcdc;
    font-family: var(--font_padrao);
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
}
small {
    font-size: 80%;
}
.footer__icon--pulse {
    -webkit-animation: pulse 1s ease-in-out infinite alternate;
    animation: pulse 1s ease-in-out infinite alternate;
}
.footer__icon {
    fill: var(--color_padrao);
    width: 20px;
}
svg:not(:root) {
    overflow: hidden;
}

.navbar-itens.active{
    transform: translateX(0);
}


@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}
.mobile-menu.active .line2 {
    opacity: 0;
}
.mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
    
}

/*PROJETOS*/
