@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&family=Ubuntu:wght@300&display=swap');
#showcase-projects{
    height: 50vh;
    display: flex;
    justify-content: left;
    align-items: center;
    color: #eee;
    background:  rgb(36, 36, 36);
    padding-left: 200px;
    font-family: 'Ubuntu', sans-serif;
}
#projects-container h2{
    font-size: 3rem;
}
#projects-container p{
    font-size: 1.5rem;
}


#trabalhos-containe{
    padding-left: 200px;
    height: 90vh;
    display: grid;
    justify-content: left;
    align-items: top;
    color: #eee;
    background:  rgb(36, 36, 36);
    font-family: 'Ubuntu', sans-serif;

    align-items:center;

}
#trabalhos-contane a h1{
    font-size: 10rem;
}
.texto{
    font-size: 4rem;
    border-bottom: 4px solid #119400;   
    left:0;
    bottom:0;
    width: 100px;
    border-radius: 1px;
}
.cor{
    color: #119400;
}
#title{
    font-size: 30px;
}

#trabalhos{
    height: 50vh;
    background: rgb(36, 36, 36);
}

@media screen and (max-width: 769px) {
    #showcase-projects{
        height: 50vh;
        display: flex;
        justify-content: left;
        align-items:baseline;
        color: #eee;
        background:  rgb(36, 36, 36);
        padding-left: 20px;
        font-family: 'Ubuntu', sans-serif;
        padding-top: 30px;
    }
    #trabalhos-containe{
        padding-left: 20px;
        height: 90vh;
        display: grid;
        justify-content: left;
        align-items: top;
        color: #eee;
        background:  rgb(36, 36, 36);
        font-family: 'Ubuntu', sans-serif;
        padding-top: 30px;
    
        align-items:center;
    
    }
}